<h2>System information</h2>

<table class="table table-bordered">
    <tbody>
    <tr>
        <th>API Version</th>
        <td>{{diagnostics.version}}</td>
    </tr>
    <tr>
        <th>OS Version</th>
        <td>{{diagnostics.platform}}</td>
    </tr>
    <tr>
        <th>Host</th>
        <td>{{diagnostics.hostname}}:{{diagnostics.port}}</td>
    </tr>
    <tr>
        <th>Service executable</th>
        <td>{{diagnostics.pathToExecutable}}</td>
    </tr>
    <tr>
        <th>RavenDb database path</th>
        <td>{{diagnostics.dbPath}}</td>
    </tr>
    <tr>
        <th>Log files path</th>
        <td>{{diagnostics.logPath}}</td>
    </tr>
    </tbody>
</table>


